<div>
    <nav class="nav-section">
        <ul>
            <li><a href="#" class="nav-section-btn">World</a ></li>
            <li><a href="#" class="nav-section-btn">San Francisco</a ></li>
            <li><a href="#" class="nav-section-btn">New York</a ></li>
            <li><a href="#" class="nav-section-btn">Bootcamp Prep</a ></li>
            <li><a href="#" class="nav-section-btn">Jumpstart</a ></li>
            <li><a href="#" class="nav-section-btn">Online</a ></li>
            <li><a href="#" class="nav-section-btn">Marketing</a ></li>
            <li><a href="#" class="nav-section-btn">Sales</a ></li>
            <li><a href="#" class="nav-section-btn">TalentMatch</a ></li>
            <li><a href="#" class="nav-section-btn">Alumni</a ></li>
            <li><a href="#" class="nav-section-btn">All</a ></li>
        </ul>
    </nav>
</div>